body{
	background-color: #888888;
    font-family: Arial;
    font-size: 30px;
    color: rgb(255 255 255);
}
#wynik{
    background:#00ff00;
    height:150px;
    width:150px;
    position:absolute;
}
img{
    width:80px;
    padding-top:10px;
    padding-left:35px;
    
}
